#search {
    flex: 1;
}
.wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.searchbar {
    width: 100%;
}

.searchButton {
    position: absolute;
    left: 7.2%;
    width: 13%;
    height: 45px;
    border: 1px solid #f49c20;
    background: #f49c20;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.searchTerm {
    width: 60%;
    border: 1px solid #8b8b8b;
    padding: 0 15px;
    height: 45px;
    border-radius: 3px !important;
    outline: none;
    color: #9dbfaf;
    font-size: 14px;
    margin-left: 15px;
}

.row-filter {
    margin-bottom: 1em;
}

.filter-left {
    margin-right: -35px;
}

#dropdownMenuButton {
    background: #00a3cb;
    color: #fff;
    border: 1px solid #00a3cb;
    text-align: left;
}

.filter-price {
    width: 190px;
}

.caret-down-price {
    position: absolute;
    left: 180px;
    top: 10px;
}

.fa-caret-down:before {
    content: "\F0D7";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.filter-midleft {
    margin-right: -30px;
}

.filter-right {
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 0 !important;
}

.filter-button {
    margin-top: 1.5em;
}

.filter-midright {
    margin-right: 15px;
    margin-top: 0 !important;
}

.btn-filter {
    color: #fff;
    background: #f49c20;
    border: 1px solid #f49c20 !important;
    width: 150px;
}

.filter-brand, .filter-color, .filter-year {
    width: 160px;
}

.caret-down-brand {
    position: absolute;
    left: 160px;
    top: 10px;
}

.caret-down-color, .caret-down-year {
    position: absolute;
    left: 140px;
    top: 10px;
}