#search {
    flex: 1;
}
.wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.searchbar {
    width: 100%;
}

.searchButton {
    position: absolute;
    left: 7.2%;
    width: 13%;
    height: 45px;
    border: 1px solid #f49c20;
    background: #f49c20;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.searchTerm {
    width: 60%;
    border: 1px solid #8b8b8b;
    padding: 0 15px;
    height: 45px;
    border-radius: 3px !important;
    outline: none;
    color: #9dbfaf;
    font-size: 14px;
    margin-left: 15px;
}

.row-filter {
    margin-bottom: 1em;
}

.filter-left {
    margin-right: -35px;
}

#dropdownMenuButton {
    background: #00a3cb;
    color: #fff;
    border: 1px solid #00a3cb;
    text-align: left;
}

.filter-price {
    width: 190px;
}

.caret-down-price {
    position: absolute;
    left: 180px;
    top: 10px;
}

.fa-caret-down:before {
    content: "\F0D7";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.filter-midleft {
    margin-right: -30px;
}

.filter-right {
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 0 !important;
}

.filter-button {
    margin-top: 1.5em;
}

.filter-midright {
    margin-right: 15px;
    margin-top: 0 !important;
}

.btn-filter {
    color: #fff;
    background: #f49c20;
    border: 1px solid #f49c20 !important;
    width: 150px;
}

.filter-brand, .filter-color, .filter-year {
    width: 160px;
}

.caret-down-brand {
    position: absolute;
    left: 160px;
    top: 10px;
}

.caret-down-color, .caret-down-year {
    position: absolute;
    left: 140px;
    top: 10px;
}

#search .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20%;
    margin: 20px 0;
    border-radius: 4px;
}

.car-row {
    margin-bottom: 15px;
}

.container-listview {
    background: #eff0f1;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.img-car {
    height: 17em !important;
    width: 20em;
}

.text-left {
    text-align: left!important;
}

.car-name {
    font-size: 24px;
}

.text-right {
    text-align: right!important;
}

.check-badge {
    color: #6eb61c;
    border: 1px solid #6eb61c;
    background: #fff;
    padding: 5px 25px;
    border-radius: 5px;
}

.price {
    font-size: 22px;
    margin-top: 15px;
    color: #d52b40;
    font-weight: 600;
}

.year-distance {
    font-size: 18px;
    margin-top: 10px;
}

.year {
    margin-right: 10px;
}

.describe {
    font-size: 17px;
    margin-top: 10px;
}

p {
    line-height: 2.8ex;
    height: 8ex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-spacing: 1.5px;
}

.addition-info {
    font-size: 18px;
    margin-top: 15px;
}

.liked-car {
    margin-right: 10px;
}

.date-create {
    margin-right: 10px;
}

.addition-information {
    text-align: left;
    font-size: 16px;
    color: #00a3cb;
}

.hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #94d8e9;
    margin: .4em 0;
    padding: 0;
}

.review-news {
    font-size: 12px;
    margin-bottom: 12px;
}

.news-link {
    text-decoration: none;
    color: #000;
    display: inline;
}

.news-image {
    width: 96%;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}